<div id="<%= dom_id supervisor %>">
  <p>
    <strong>Supervisor email:</strong>
    <%= supervisor.supervisor_email %>
  </p>

  <p>
    <strong>User:</strong>
    <%= supervisor.user_id %>
  </p>

</div>
