<h1>Editing supervisor</h1>

<%= render "form", supervisor: @supervisor %>

<br>

<div>
  <%= link_to "Show this supervisor", @supervisor %> |
  <%= link_to "Back to supervisors", supervisors_path %>
</div>
