<div id="<%= dom_id administrator %>">
  <p>
    <strong>Administrator email:</strong>
    <%= administrator.administrator_email %>
  </p>

  <p>
    <strong>User:</strong>
    <%= administrator.user_id %>
  </p>

</div>
