<h1>Editing executive</h1>

<%= render "form", executive: @executive %>

<br>

<div>
  <%= link_to "Show this executive", @executive %> |
  <%= link_to "Back to executives", executives_path %>
</div>
